body {
    font-family: "Gill Sans";
    width: 1000px;
    margin: .25in auto;
    background: rgba(221, 204, 187, .15);
}

h1 {
    font-weight: 300;
}

rect.base { fill: rgba(221, 204, 187, 1); }


rect.boxplot {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

line.boxplot {
    stroke: #000;
    stroke-width: 1px;
}

div#examples svg { margin: 3px; }

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #fff;
}

.axis .minor {
  stroke-opacity: .5;
}

.axis path {
    stroke: #fff;
    fill: none;
}
.axis text {
  font-size: 8px;
  font-weight: 300;
}

.legend {
    font-size: 10px;
    font-weight: 300;
}

.graphicText {
  font-size: 10px;
  cursor: pointer;
  fill: black;
  text-shadow: 1px 1px 0px white;
}

.graphicText.showOnHover {
  fill: transparent;
  text-shadow: none;
}

.graphicText.showOnHover:hover {
  fill: black;
  text-shadow: 1px 1px 0px white;
}



/*
// Explicit styling of lines in first line chart.

path.line.a { stroke: #f00; }
path.line.b { stroke: #0f0; }
path.line.c { stroke: #00f; }
path.line.d { stroke: #f0f; }
*/

.twoPopulations circle.points {
    fill-opacity: 0.5;
    r: 2;
}