body {
    font-family: "Gill Sans";
    width: 1000px;
    margin: .25in auto;
    background: rgba(221, 204, 187, .15);
}

h1 {
    font-weight: 300;
}

rect.base { fill: rgba(221, 204, 187, 1); }

div#examples span { margin: 3px; }

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #fff;
}

.axis .minor {
  stroke-opacity: .5;
}
.axis path {
  display: none;
}

.axis text {
  font-size: 8px;
  font-weight: 300;
}